* {
    box-sizing: border-box;
}

.container {
    border: 8px outset #000;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 500px;
    margin: 0 auto;
    width: 500px;
}

.visited {
    background-color: #000;
}